.poker-player__container {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.poker-player__avatar {
    height: 70px;
    width: 50px;
    background-color: #d6d6d6;
    border-radius: 4px;
    font-size: 40px;
    text-align: center;
    color: white;
}

.poker-player__avatar--voted {
    background-color: var(--primary-color);
}

.poker-player__name {
    font-size: 13px;
    text-align: center;
}