.poker-player__container {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.poker-player__avatar {
    position: relative;
    height: 70px;
    width: 50px;
    line-height: 60px;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    background: rgb(185, 185, 185);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipper {
    transform: rotateY(180deg);
}

.poker-player__avatar--front,
.poker-player__avatar--back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.poker-player__avatar--back {
    transform: rotateY(180deg);
}

.poker-player__avatar--voted {
    background: linear-gradient(
        45deg
        ,#568BAF 12%,transparent 0,transparent 88%,#568BAF 0),linear-gradient(
        135deg
        ,transparent 37%,#568EB6 0,#568EB6 63%,transparent 0),linear-gradient(
        45deg
        ,transparent 37%,#568BAF 0,#568BAF 63%,transparent 0),#74b3ff;
    background-size: 17px 17px;
}

.poker-player__avatar--vote-visible {
    background: none;
    border: 2px solid #568EB6;
    color: #568EB6;
}

.poker-player__name {
    font-size: 13px;
    text-align: center;
    color: #2c5068;
    font-weight: 600;
}