@import './login/Login.css';
@import './home/home.css';

:root {
    --primary-color: #030990;
    --secondary-color: #A1A4FF;
}

.App {
    max-width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}
